
<head>
      <%= javascript_include_tag :defaults %>
         <%= csrf_meta_tag %>
</head>
<p><%= @User.first_name %> <%= @User.last_name %>  </p>


<table class="table table-hover table-bordered">
  <thead>
     
    <tr>
      <th>Course number</th>
      <b>
      <th>Course name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="coursesList">
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_number %></td>
        <td><%= course.course_name%></td>
        <!-- <td><%= link_to 'Show', course %></td> -->
        <td><%= link_to 'Edit', edit_course_path(course) %>
        <span class= "glyphicon glyphicon-edit" ></span></td>
        <td><%= link_to 'Destroy', course, :method => :delete, data: { confirm: 'Are you sure?' } %>
        <span class= "glyphicon glyphicon-remove" ></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Completed Course', new_course_path, class: "btn btn-default" %>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel"> Hello </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="myModalBody">
        World
      </div>
      
    </div>
  </div>
</div>