

<head>
      <%= javascript_include_tag :defaults %>
         <%= csrf_meta_tag %>
</head>



<table class="table table-hover table-bordered">
  <thead>
    <tr>

      <th>Start date</th>
      <th>End date</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="experienceList">
    <% @experiences.each do |experience| %>
      <tr data-toggle="modal" data-target="#expModal">

        <td><%= experience.start_date %></td>
        <td><%= experience.end_date %></td>
        <td><%= experience.name %></td>
        <td><%= experience.description %></td>
        <!-- <td><%= link_to 'Show', experience %></td> -->
        <td><%= link_to 'Edit', edit_experience_path(experience) %>
        <span class= "glyphicon glyphicon-edit" ></span>
        </td>
        <td><%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %>
        <span class= "glyphicon glyphicon-remove" ></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Experience', new_experience_path, class: "btn btn-default" %>


<!-- Modal -->
<div class="modal fade" id="expModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="expLabel"> Hello </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="expBody">
        World
      </div>
      
    </div>
  </div>
</div>