<head>
      <%= javascript_include_tag :defaults %>
         <%= csrf_meta_tag %>
</head>


<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Honor date</th>
      <th>Honor name</th>
      <th>Honor description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="honorsList">
    <% @honors.each do |honor| %>
      <tr data-toggle="modal" data-target="#honModal">

        <td><%= honor.honor_date %></td>
        <td><%= honor.honor_name %></td>
        <td><%= honor.honor_description %></td>
        <!-- <td><%= link_to 'Show', honor %></td> -->
        <td><%= link_to 'Edit', edit_honor_path(honor) %>
        <span class= "glyphicon glyphicon-edit" ></span></td>
        <td><%= link_to 'Destroy', honor, method: :delete, data: { confirm: 'Are you sure?' } %>
        <span class= "glyphicon glyphicon-remove" ></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Honor or Award', new_honor_path, class: "btn btn-default" %>


<!-- Modal -->
<div class="modal fade" id="honModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="honLabel"> Hello </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="honBody">
        World
      </div>
      
    </div>
  </div>
</div>