<% if user_signed_in? %>
    <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        	
					<h2> Experiences</h2>
					
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      	
					
						<table class="table table-hover">
						  <thead>
						    <tr>
						
						      <th>Start date</th>
						      <th>End date</th>
						      <th>Name</th>
						      <th>Description</th>
						      <th colspan="3"></th>
						    </tr>
						  </thead>
						
						  <tbody id="experienceList">
						    <% @experiences.each do |experience| %>
						      <tr data-toggle="modal" data-target="#expModal">
						
						        <td><%= experience.start_date %></td>
						        <td><%= experience.end_date %></td>
						        <td><%= experience.name %></td>
						        <td><%= experience.description %></td>
						        <!-- <td><%= link_to 'Show', experience %></td> -->
						        <td><%= link_to 'Edit', edit_experience_path(experience) %>
						        <span class= "glyphicon glyphicon-edit" ></span>
						        </td>
						        <td><%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %>
						        <span class= "glyphicon glyphicon-remove" ></span>
						        </td>
						      </tr>
						    <% end %>
						  </tbody>
						</table>
						
						
						
						</div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				        	
				          <h2> Skills </h2>
				          
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
						
						
						<table class="table table-hover">
						  <thead>
						    <tr>
						
						      <th>Skill name</th>
						      <th>Skill description</th>
						      <th colspan="3"></th>
						    </tr>
						  </thead>
						
						  <tbody id="skillsList">
						    <% @skills.each do |skill| %>
						     <tr data-toggle="modal" data-target="#skillModal">
						
						        <td><%= skill.skill_name %></td>
						        <td><%= skill.skill_description %></td>
						       <!-- <td><%= link_to 'Show', skill %></td> -->
						        <td><%= link_to 'Edit', edit_skill_path(skill) %>
						        <span class= "glyphicon glyphicon-edit" ></span></td>
						        <td><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %>
						        <span class= "glyphicon glyphicon-remove" ></span>
						        </td>
						      </tr>
						    <% end %>
						  </tbody>
						</table>


						</div>
						    </div>
						  </div>
						  <div class="panel panel-default">
						    <div class="panel-heading" role="tab" id="headingThree">
						      <h4 class="panel-title">
						        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						          
				    					<h2> Honors</h2>
				    					
						        </a>
						      </h4>
						    </div>
						    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						      <div class="panel-body">

					<!--	<%= link_to "Work Experience", { :controller => :dashboard, :action => :experience} %> -->
						
				    
						<table class="table table-hover">
						  <thead>
						    <tr>
						      <th>Honor date</th>
						      <th>Honor name</th>
						      <th>Honor description</th>
						      <th colspan="3"></th>
						    </tr>
						  </thead>
						
						  <tbody id="honorsList">
						    <% @honors.each do |honor| %>
						      <tr data-toggle="modal" data-target="#honModal">
						
						        <td><%= honor.honor_date %></td>
						        <td><%= honor.honor_name %></td>
						        <td><%= honor.honor_description %></td>
						        <!-- <td><%= link_to 'Show', honor %></td> -->
						        <td><%= link_to 'Edit', edit_honor_path(honor) %>
						        <span class= "glyphicon glyphicon-edit" ></span></td>
						        <td><%= link_to 'Destroy', honor, method: :delete, data: { confirm: 'Are you sure?' } %>
						        <span class= "glyphicon glyphicon-remove" ></span>
						        </td>
						      </tr>
						    <% end %>
						  </tbody>
						</table>
						
						</div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingFour">
					      <h4 class="panel-title">
					        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					          
					         	<h2> References</h2>
					         	
					        </a>
					      </h4>
					    </div>
					    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
					      <div class="panel-body">
							
						
							<table class="table table-hover">
							  <thead>
							    <tr>
							
							      <th>Reference name</th>
							      <th>Reference contact info</th>
							      <th colspan="3"></th>
							    </tr>
							  </thead>
							
							  <tbody id="referencesList">
							    <% @references.each do |reference| %>
							     <tr data-toggle="modal" data-target="#refModal">
							
							        <td><%= reference.reference_name %></td>
							        <td><%= reference.reference_contact_info %></td>
							        <!-- <td><%= link_to 'Show', reference %></td> -->
							        <td><%= link_to 'Edit', edit_reference_path(reference) %>
							        <span class= "glyphicon glyphicon-edit" ></span></td>
							        <td><%= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure?' } %>
							        <span class= "glyphicon glyphicon-remove" ></span>
							        </td>
							      </tr>
							    <% end %>
							  </tbody>
							</table>
						 </div>
				    </div>
				  </div>
				</div>
						
					<!--	<%= link_to "Skills and Interests", { :controller => :dashboard, :action => :skills} %> -->
				
				    <br>

				<!--		<%= link_to "Honors and Awards", { :controller => :dashboard, :action => :honors} %> -->

				    <br>

				<!--		<%= link_to "References", { :controller => :dashboard, :action => :references } %> -->

	               <br>
	                   
<% end %> 



<!-- Modal -->
<div class="modal fade" id="expModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="expLabel"> Hello </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="expBody">
        World
      </div>
      
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="skillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="skillLabel"> Hello </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="skillBody">
        World
      </div>
      
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="honModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="honLabel"> Hello </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="honBody">
        World
      </div>
      
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="refModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="refLabel"> Hello </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="refBody">
        World
      </div>
      
    </div>
  </div>
</div>