<head>
      <%= javascript_include_tag :defaults %>
         <%= csrf_meta_tag %>
</head>


<table class="table table-hover table-bordered">
  <thead>
    <tr>

      <th>Reference name</th>
      <th>Reference contact info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="referencesList">
    <% @references.each do |reference| %>
      <tr data-toggle="modal" data-target="#refModal">

        <td><%= reference.reference_name %></td>
        <td><%= reference.reference_contact_info %></td>
        <!-- <td><%= link_to 'Show', reference %></td> -->
        <td><%= link_to 'Edit', edit_reference_path(reference) %>
        <span class= "glyphicon glyphicon-edit" ></span></td>
        <td><%= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure?' } %>
        <span class= "glyphicon glyphicon-remove" ></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reference', new_reference_path, class: "btn btn-default" %>

<!-- Modal -->
<div class="modal fade" id="refModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="refLabel"> Hello </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="refBody">
        World
      </div>
      
    </div>
  </div>
</div>