<head>
      <%= javascript_include_tag :defaults %>
         <%= csrf_meta_tag %>
</head>


<table class="table table-hover table-bordered">
  <thead>
    <tr>

      <th>Skill name</th>
      <th>Skill description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="skillsList">
    <% @skills.each do |skill| %>
      <tr data-toggle="modal" data-target="#skillModal">

        <td><%= skill.skill_name %></td>
        <td><%= skill.skill_description %></td>
       <!-- <td><%= link_to 'Show', skill %></td> -->
        <td><%= link_to 'Edit', edit_skill_path(skill) %>
        <span class= "glyphicon glyphicon-edit" ></span></td>
        <td><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %>
        <span class= "glyphicon glyphicon-remove" ></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skill or Interest', new_skill_path, class: "btn btn-default" %>

<!-- Modal -->
<div class="modal fade" id="skillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="skillLabel"> Hello </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="skillBody">
        World
      </div>
      
    </div>
  </div>
</div>