<%= form_for(honor) do |f| %>
  <% if honor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(honor.errors.count, "error") %> prohibited this honor from being saved:</h2>

      <ul>
      <% honor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :owner, :value => current_user.id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :honor_date %>
    <%= f.text_field :honor_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :honor_name %>
    <%= f.text_field :honor_name, class: "form-control" %>
  </div>

 <div class="form-group">
    <%= f.label :honor_description %>
    <%= f.text_field :honor_description, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Post", class: "btn btn-default"%>
  </div>
<% end %>
