<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="form-group">
  <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, class: "form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, class: "form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.label :major %><br />
    <%= f.text_field :major, autofocus: true, class: "form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.label :degree_program %><br />
    <%= f.text_field :degree_program, autofocus: true, class: "form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.label :department %><br />
    <%= f.text_field :department, autofocus: true, class: "form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.label :year_started %><br />
    <%= f.number_field :year_started, autofocus: true, class: "form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"%>
  </div>


  <div class="actions">
    <%= f.submit "Sign up", :class=> "btn btn-default" %>
  </div>
<% end %>

<br>

<%= render "devise/shared/links" %>
