<%= form_for(skill) do |f| %>
  <% if skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
      <% skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :owner, :value => current_user.id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :skill_name %>
    <%= f.text_field :skill_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :skill_description %>
    <%= f.text_field :skill_description, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Post", class: "btn btn-default"%>
  </div>
<% end %>
