<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @experience.owner %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @experience.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @experience.end_date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @experience.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experience.description %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience)%> |
<%= link_to 'Back', dashboard_experience_path%>
