<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @course.owner %>
</p>

<p>
  <strong>Course number:</strong>
  <%= @course.course_number %>
</p>

<p>
  <strong>Course name:</strong>
  <%= @course.course_name %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back',  dashboard_courses_path %>
