<%= form_for(reference) do |f| %>
  <% if reference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reference.errors.count, "error") %> prohibited this reference from being saved:</h2>

      <ul>
      <% reference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
    <%= f.hidden_field :owner, :value => current_user.id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :reference_name %>
    <%= f.text_field :reference_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :reference_contact_info %>
    <%= f.text_field :reference_contact_info, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Post", class: "btn btn-default"%>
  </div>
<% end %>
