<!DOCTYPE html>
<%= javascript_include_tag :defaults %>
<html>
  <head>
    <title>RailsApp</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" rel="stylesheet">


    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
     <div class="container">
       <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <%= link_to root_path, { :class => "navbar-brand"} do %>
  				 <i class="glyphicon glyphicon-home"></i> Home
					<% end %>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
							<% if user_signed_in? %>
						<li>
							<%= link_to "Work Experience", { :controller => :'/dashboard', :action => :experience} %>
						</li>
						
						<li>
						
								<%= link_to "Skills and Interests", { :controller => :'/dashboard', :action => :skills} %>
							
						</li>
						
						<li>
							<%= link_to "Honors and Awards", { :controller => :'/dashboard', :action => :honors} %>
						</li>
						
						
						<li>
						
								<%= link_to "References", { :controller => :'/dashboard', :action => :references } %>
							
						</li>
						
						<li>
						
								<%= link_to "Generate Word Document", { :controller => :'/dashboard', :action => :generate } %>
							
						</li>
						
						<% end %> 
						</ul>
						
						<ul class="nav navbar-nav navbar-right">
							<% if user_signed_in? %>
							<li>
							   <%= link_to edit_user_registration_path, { :class => "Account"} do %>
  				 <i class="glyphicon glyphicon-cog"></i>
					<% end %>
							</li>
							<li>
							   <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
							</li>
							<% else %>
							<li>
							   <%= link_to "Login", new_user_session_path %>
							</li>
							<% end %>
							
							
						</li>
					
						
						
					</ul>
					
					
							</ul>
						</li>
					</ul>
				</div>
				
			</nav>
		</div>
	</div>
</div>
<% if notice %>

	        <div class="alert alert-success alert-dismissable">
	        	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	        	<%= flash[:notice] %>
	        </div>
 
	<% end %> 
    <%= yield %>
    
    
    
    
    
    </div>
    <script src="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js"></script>
  </body>
</html>
